#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh; /* Full viewport height */
  width: 200px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

/* Sidebar Content Wrapper */
.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Sidebar Logo and Name */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.no-invert-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.sidebar-logo-text {
  font-size: 18px;
  font-weight: bold;
  color: #af93d7;
}

/* Sidebar Navigation */
nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Sidebar Links */
nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  display: flex; 
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #af93d7;
}

.section-divider {
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.sidebar-user {
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

#sidebar hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
  width: 100%;
}

/* Sidebar Icons */
.sidebar-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.no-invert-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* User Icon */
.sidebar-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.sidebar-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;
}

.logout-button {
  width: 90%;
  background: none;
  border: 1px solid #af93d7;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin: 5px 0;
  transition: background 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: rgba(175, 147, 215, 0.1);
}