@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body, html {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  width: calc(100% - 250px);
}

.page-container {
  padding: 20px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 15px 0;
  text-align: left;
}
